<div class="game-view">
  <div class="header">
    <h1>{{ game.name }}</h1>
  </div>

  <div class="game" [ngSwitch]="game.id">
    <rock-paper-scissors-game #game *ngSwitchCase="'rock-paper-scissors'"></rock-paper-scissors-game>
  </div>

  <div class="navigation">
    <button class="btn" [routerLink]="['/browse']">Back to Games</button>
    <button class="btn" (click)="newGame()">New Game</button>
  </div>

  
</div>